*.iml
.gradle/
**/build/
local.properties
.idea/
.DS_Store
captures/
*.apk
*.aab
*.ap_
*.dex
*.class
.cxx/
*.hprof
*.jks
*.keystore
!debug.keystore
android/keystore/
google-services.json
admob.properties
Secrets.xcconfig
